@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #FEF8F5;
  font-size: 10px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.h2 {
  color: #EE4D47;
  font-size: 2.4em;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  line-height: 4em;
}

.btn {
  font-size: 1.6em;
  padding: 16px 24px 17px 24px;
}

.btn-info {
  background-color: #EE4D47;
}

.illustration .illustration-background, .illustration .building, .illustration .truck, .illustration .two-person, .illustration .half-bounce-one, .illustration .half-bounce-two {
  position: absolute;
  z-index: -1;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  padding: 0 20.49em;
}

.illustration {
  max-width: 1100px;
  width: calc((1285%/1600)*100);
  height: 900px;
  position: absolute;
}

.illustration .illustration-background {
  width: 100%;
  height: 900px;
  background-image: url("../image/theme/BG.svg");
}

.illustration .building {
  width: 100%;
  height: 900px;
  background-image: url("../image/theme/Mask Group.svg");
}

.illustration .truck {
  max-width: 811px;
  width: 46.6%;
  height: 394.55px;
  margin-top: 61%;
  background-image: url("../image/theme/mobel.svg");
  z-index: -1;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-name: slideright;
          animation-name: slideright;
}

.illustration .two-person {
  max-width: 365px;
  width: 28.4%;
  height: 394.55px;
  margin: 34.5% 0 0 calc((982.5%/1600)*100);
  height: 600px;
  background-image: url("../image/theme/persons.svg");
}

.illustration .half-bounce-one {
  max-width: 154px;
  width: calc((179%/1600)*100);
  height: 80px;
  z-index: -2;
  margin: 59.1% 0 0 37%;
  background-image: url("../image/theme/Vector-2.svg");
}

.illustration .half-bounce-two {
  max-width: 240px;
  width: calc((260%/1600)*100);
  height: 80px;
  z-index: -2;
  margin: 58% 0 0 43%;
  background-image: url("../image/theme/Vector-3.svg");
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20.49em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
}

header div {
  font-family: DM Serif Display;
  margin: 3.3em 0;
}

header div .logo-text {
  font-size: 2.732em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 10em 1em 0;
}

header ul li a {
  font-size: 1.6em;
}

.hero-container {
  color: white;
}

.hero-container .hero-text {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 741px;
  width: calc(741%*100 / 1120);
}

.hero-container .hero-text h1 {
  font-family: DM Serif Display;
  font-size: 8.5em;
  line-height: 100%;
}

.hero-container a {
  max-width: 220px;
  display: inline-block;
  margin-top: 5em;
}

.container-about-apply .about-text h6 {
  font-size: 1.8em;
  font-weight: light;
  font-family: 'Rubik', sans-serif;
  line-height: 31px;
}

.clearfix-mt-max {
  margin-top: 58em;
}

.container-about-apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200;
  margin-top: 12em;
}

.container-about-apply .about-text {
  width: calc((570%/1170.8)*100);
  margin-top: 6.3%;
}

.container-about-apply .about-text h6 {
  max-width: 470px;
  margin-top: 3.5em;
  width: calc((470%/570)*100);
}

.container-about-apply .about-text .how-do-you {
  background-color: #FCDDD4;
  border-left: 10px solid #ED4D47;
  padding: 3em 5.5em;
  margin-top: 5.5em;
}

.container-about-apply .about-text .how-do-you p {
  font-size: 2.4em;
}

.container-about-apply .about-image {
  width: calc((570%/1170.8)*100);
}

.container-about-apply .about-image img {
  width: 100%;
}

@-webkit-keyframes slideright {
  from {
    margin-left: 62%;
    width: calc((600%/1285)*100);
  }
  to {
    margin-left: 0%;
    width: calc((600%/1285)*100);
  }
}

@keyframes slideright {
  from {
    margin-left: 62%;
    width: calc((600%/1285)*100);
  }
  to {
    margin-left: 0%;
    width: calc((600%/1285)*100);
  }
}
/*# sourceMappingURL=main.css.map */